<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Тестирование</title>
    <link rel="stylesheet" href="../static/css/main.css">
</head>
<body>
    <header>
        <nav class="navbar">
            <a href="/" class="navbar-item home-button">На главную</a>
            <a href="/logout" class="navbar-item logout-button">Выход</a>
        </nav>
    </header>
    <div class="container">
        <a href="/testing/all_equipment">Выбрать оборудование для тестирования</a>
        <a href="/testing/basket">Список выбранных оборудований</a>
        <a href="/testing/active">Активные протоколы тестирования</a>
    </div>
</body>
</html>