body {
    display: flex;
    font-family: Arial, sans-serif;
    flex-direction: column; /* Изменяем направление на столбец */
    justify-content: center; /* Выравниваем по центру по вертикали */
    align-items: center; /* Выравниваем по центру по горизонтали */
    height: 100vh; /* Занимает всю высоту окна */
    background: url('../images/background.jpg') no-repeat center center;
    background-size: cover;
    margin: 0; /* Убирает отступы по умолчанию */
}

h1 {
    margin: 0; /* Убираем отступы */
    position: absolute; /* Позволяет расположить заголовок в верхней части */
    top: 20px; /* Отступ от верхней части */
}

header {
    width: 100%;
    background-color:
    rgba(255, 255, 255, 0.8); /* Прозрачность добавлена, 0.8 делает фон на 80% непрозрачным */
    padding: 10px 0;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 800px;
    margin: 0 auto;
    padding: 0 20px;
}

.navbar-item {
    color: black;
    font-weight: bold;
    text-decoration: none;
    padding: 8px 16px;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.navbar-item:hover {
    background-color: white;
}


.report-button {
    background-color: #007bff;
    color: white; /* Цвет текста - белый */
    border: none; /* Без рамки */
    padding: 10px 20px; /* Отступы внутри кнопки */
    font-size: 16px; /* Размер шрифта */
    cursor: pointer; /* Курсор при наведении */
    border-radius: 5px; /* Скругление углов */
    transition: background-color 0.3s; /* Плавный переход цвета */
    margin-top: 50px; /* Отступ от заголовка */
}

.report-button:hover {
    background-color: #0056b3; /* Цвет при наведении */
}
